site_name: Coffeecord
site_url: https://wiki.coffeecord.deftu.xyz/

copyright: Copyright 2022 Matthew Vaughan

repo_name: Coffeecord
repo_url: https://github.com/Deftu/Coffeecord

nav:
    - Home: index.md
    - Getting Started:
        - Languages: 'getting-started/languages.md'
        - Java: 'getting-started/java.md'
        - Kotlin: 'getting-started/kotlin.md'

theme:
    name: material
    features:
        - navigation.instant
        - navigation.tabs
        - toc.integrate
    favicon: img/logo.png
    logo: img/logo.png
    icon:
        repo: fontawesome/brands/github
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: red
          toggle:
            icon: material/weather-night
            name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: red
          toggle:
            icon: material/weather-sunny
            name: Switch to light mode

extra:
    social:
        - icon: fontawesome/brands/discord
          link: https://discord.gg/aTa52taGHw